

.background {
    min-height: 100vh;
    background-color: rgb(211, 178, 118);
    color: white;
    display: flex;
    flex-direction: column;
    padding: auto;

    justify-content: center;
    align-items: center;
}

.centered {
    margin: auto;
    padding: 30px;
    width: fit-content;
    background-color: white;
    color: black;
}

.title {
    margin: 10vh;
    text-decoration: underline wavy;
}

.scale-up-center{
    font-size: 2.1rem;
    animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both
}

@keyframes scale-up-center{
    0%{transform:scale(.5)}
    100%{transform:scale(1)}
}

.shadow-pop-br {
	animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes shadow-pop-br {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
      transform: translateX(-8px) translateY(-8px);
    }
}